.github
.vscode
node_modules
src
.gitignore
.prettierignore
.prettierrc
.eslintrc.json
tsconfig.cjs.json
tsconfig.esm.json
tsconfig.json
tscofnig.spec.json
tsconfig.types.json
dist/coverage
jest.config.ts
